@tailwind base;
@tailwind components;
@tailwind utilities;

/* Menerapkan style dasar ke body sesuai dengan theme kustom kita
  Ini akan menjadi default untuk seluruh aplikasi.
*/
@layer base {
  body {
    @apply bg-background text-text-main font-sans antialiased;
  }
}
