@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  /* Kursor kustom akan ditangani oleh komponen React, menyembunyikan kursor default */
  cursor: none;
}

/* Menyembunyikan kursor default untuk perangkat non-sentuh */
@media (pointer: fine) {
  html, body, button, a {
    cursor: none;
  }
}

/* Styling untuk scrollbar agar sesuai tema gelap */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #0d1117;
}
::-webkit-scrollbar-thumb {
    background: #30363d;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #8B5CF6;
}
